@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #d4d4d4;
}

.cl-internal-b3fm6y, .cl-userButtonPopoverFooter, .cl-internal-uyu30o {
    display: none !important;
}

.active > .out_line {
    background-color: #ca3e47;
   
}

*{
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}