@import "./styles/tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.cl-internal-b3fm6y,
.cl-userButtonPopoverFooter,
.cl-internal-uyu30o {
  display: none !important;
}

.active > .out_line {
  background-color: var(--color-accent);
}

* {
  scroll-behavior: smooth;
}
