@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #d4d4d4;
  filter : invert(100%);
  backdrop-filter: 10%;
  overflow: hidden;
}

.cl-internal-b3fm6y,
.cl-userButtonPopoverFooter,
.cl-internal-uyu30o {
  display: none !important;
}

.active > .out_line {
  background-color: #ca3e47;
}

* {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

.invert-none {
  --tw-invert: invert(100%) !important;
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}